<p>CONTACT OUR CUSTOMER SERVICE</p>
<p>Email at info@wifichai.com</p>
<p><span style="background-color: #ffcc00;">&nbsp;YOU ARE A CLIENT&nbsp;</span></p>
<p>Do you want to get listed on WifiChai?</p>
<p>You can always send us an email to:<a href="mailto:infoservices@wifichai.com">info@wifichai.com</a></p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p><span style="background-color: #ffcc00;">&nbsp;YOU HAVE A PRESS ENQUIRY&nbsp;</span></p>
<p>Do you want to write about Wifichai?</p>
<p>Do you need pictures, logos or interviews?</p>
<p>Feel free to email us at: <a href="mailto:infoservices@wifichai.com">info@wifichai.com</a></p>